body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.calculator {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
    text-align:end ;
    width: 75%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}

#pantalla{
    font-size: 24px;
    margin-top: 10px;
}
#botonC{
    width: 84%;
}